<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <h1>기본 테이블</h1>

    <table border="1">
      <tr>
        <th>username</th>
        <th>age</th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.username}">username</td>
        <td th:text="${user.age}">0</td>
      </tr>
    </table>

    <h1>반복 상태 유지</h1>

    <table border="1">
      <tr>
        <th>count</th>
        <th>username</th>
        <th>age</th>
        <th>etc</th>
      </tr>

      <!--두번째 이름의 userStat은 현재 반복의 상태를 알려줌-->
      <tr th:each="user, userStat : ${users}">
        <td th:text="${userStat.count}">username</td>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.age}">0</td>
        <td>
          <!--0부터시작- -->index = <span th:text="${userStat.index}"></span>
          <!--1부터시작- -->count = <span th:text="${userStat.count}"></span>
          size = <span th:text="${userStat.size}"></span>
          짝수-even? = <span th:text="${userStat.even}"></span>
          홀수-odd? = <span th:text="${userStat.odd}"></span>
          처음-first? = <span th:text="${userStat.first}"></span>
          마지막-last? = <span th:text="${userStat.last}"></span>
          <!--현재객체(user와 같음)- -->current = <span th:text="${userStat.current}"></span>
        </td>
      </tr>
    </table>
</body>
</html>